CUSTOMERS='[{"customerName":"BCH","csvFileName":"BCH.csv","username":"BCHYOM.API","password":"X"},{"customerName":"BCLC","csvFileName":"BCLC.csv","username":"BCLC.API","password":"X"},{"customerName":"CABOMS","csvFileName":"CDR.csv","username":"CABOMS.API","password":"X"},{"customerName":"DEXCOM","csvFileName":"DEXCOM.csv","username":"DEXCOM.API","password":"X"},{"customerName":"MLSS MAPSTO","csvFileName":"MLSS.csv","username":"MAPSTO.API","password":"X"},{"customerName":"STNOMS","csvFileName":"Stantec.csv","username":"STANTEC.API","password":"X"},{"customerName":"UCSOMS","csvFileName":"UCS.csv","username":"UCSOMS.API","password":"X"},{"customerName":"VNCOMS","csvFileName":"Vancity.csv","username":"VNCOMS.API","password":"X"}]'